%header
  .wrap
    - if current_page?(root_path)
      %h1.logo Аудиозаказ
    - else
      %a{href: root_path, class: 'logo'} Аудиозаказ
    %nav.item-1
      %ul
        %li
          = link_to 'Личный кабинет', profile_path
        %li
          = link_to 'Дикторы', speakers_path
    - if user_signed_in?
      %nav.item-2.user
        %ul
          %li
            %a.fa.fa-user{href: ""}
              %span= current_user.login
          %li
            .balance
              %span.val 0 руб.
              %a.give{href: ""} пополнить
              или
              %a.get{href: ""} снять
          %li
            %a.fa.fa-power-icon-cog{href: "/settings"}
          %li
            = link_to '', destroy_user_session_path, method: :delete, class: %w(fa fa-power-off)
    - else

      %nav.item-2
        %ul
          %li
            = link_to 'Вход', new_user_session_path
          %li
            = link_to 'Регистрация', new_user_registration_path
