.order-item-layout
  .header.open
    %a.open-status
    .username
      .avatar
      %a.name{:href => ""} Lermon2013
    .order-name= order.name
    .date
      18:32, 20 июля
    .time
      .accept
        %i.fa.fa-check
        Закрыт
    .cost
      200 руб.
  .body
    .task
      = link_to modal_order_path(order), class: 'task-modal', remote: true do
        %i.fa.fa-arrow-down
        %span Техническое задание
    .log
      = render partial: 'shared/event', collection: order.events
      .msg
        .time 18:45
        .text-holder
          %strong Начало работы
      / .msg
      /   .time 18:57
      /   .text-holder
      /     %strong Опубликована аудиозапись:
      /     .audio-holder
      /       %audio{:controls => "", :preload => "auto"}
      /         %source{:src => "files/audio.mp3"}/
      /         %source{:src => "files/audio.ogg"}/
      /         %source{:src => "files/audio.wav"}/
      /       %a.btn-download{:href => ""}
      /         %i.fa.fa-arrow-circle-o-down>
      /         Скачать
      .msg
        .time 19:06
        .text-holder
          %strong Необходима перечитка:
          %p
            Хотелось бы больше эмоций и акцента на названии нашей прекрасной компании.
            Представьте, что вы Иосиф Кобзон. Скажите с чувством!
      / .msg
      /   .time 18:57
      /   .text-holder
      /     %strong Опубликована аудиозапись:
      /     .audio-holder
      /       %audio{:controls => "", :preload => "auto"}
      /         %source{:src => "files/audio.mp3"}/
      /         %source{:src => "files/audio.ogg"}/
      /         %source{:src => "files/audio.wav"}/
      /       %a.btn-download{:href => ""}
      /         %i.fa.fa-arrow-circle-o-down>
      /         Скачать
      .msg.accept
        .time 19:45
        .text-holder
          %strong
            %i.fa.fa-check
            Работа принята.
    - if can? :accept_by_speaker, order
      .btns-holder
        = link_to accept_order_path(order), method: :post, class: %w(btn-green pos-left) do
          %i.fa.fa-check-circle-o>
          Принять заказ и начать работу
        %a.btn-orange.pos-left{:href => ""}
          %i.fa.fa-times-circle-o>
          Отклонить заказ
        %a.btn-gray.pos-right.toggle-btn{:href => "#", data: {target: "#clarify-holder-#{order.id}"}}
          %i.fa.fa-info-circle>
          Уточнить
      %div{style: 'display: none', id: "clarify-holder-#{order.id}"}
        .title
          %a.return{:href => ""}
          Уточнить задание
        .textarea-holder
          %textarea{:cols => "30", :rows => "10"}
          .tip Нельзя указывать контактную информацию.
        .btns-holder
          %a.btn-green.pos-left{:href => ""}
            %i.fa.fa-check-circle-o>
            Отправить вопрос