.order-item-layout
  .header.open
    %a.open-status
    .username
      .avatar
      %a.name{:href => ""}= order.coworker_of(current_user).login
    .order-name= order.name
    .date
      = order.created_at_short
    .time
      .accept
        %i.fa.fa-check
        Закрыт
    .cost
      200 руб.
  .body
    .task
      = link_to modal_order_path(order), class: 'task-modal', remote: true do
        %i.fa.fa-arrow-down
        %span Техническое задание
    - if order.has_events?
      .log
        = render partial: 'shared/event', collection: order.events
        .msg.accept
          .time 19:45
          .text-holder
            %strong
              %i.fa.fa-check
              Работа принята.
    - if can? :start, order
      .btns-holder
        = link_to start_order_path(order), method: :post, class: %w(btn-green pos-left) do
          %i.fa.fa-check-circle-o>
          Принять заказ и начать работу
        %a.btn-orange.pos-left{:href => ""}
          %i.fa.fa-times-circle-o>
          Отклонить заказ
        %a.btn-gray.pos-right.toggle-btn{:href => "#", data: {target: "#clarify-holder-#{order.id}"}}
          %i.fa.fa-info-circle>
          Уточнить
      %div{style: 'display: none', id: "clarify-holder-#{order.id}"}
        .title
          %a.return{:href => ""}
          Уточнить задание
        .textarea-holder
          %textarea{:cols => "30", :rows => "10"}
          .tip Нельзя указывать контактную информацию.
        .btns-holder
          %a.btn-green.pos-left{:href => ""}
            %i.fa.fa-check-circle-o>
            Отправить вопрос
    - if can? :attach_record_to, order
      .file-upload-holder
        %form.form-upload-files{action: cache_records_path, "data-upload" => "fu-123", :enctype => "multipart/form-data", :method => "post"}
          .form-drop
            Перетащите сюда файлы для отправки
            %a
              %i.fa.fa-arrow-circle-o-up>
              Добавить файлы
            %input{:multiple => "", :name => "records[]", :type => "file"}/
      = form_tag attach_record_order_path(order), method: :post do
        .files-uploaded
          %ul#fu-123.form-files-uploaded
            / The file uploads will be shown here
        .btns-holder
          %button.btn-green.pos-left
            %i.fa.fa-check-circle-o>
            Отправить
    - if can? :accept, order
      .btns-holder
        %a.btn-green.pos-left{:href => ""}
          %i.fa.fa-check-circle-o>
          Принять работу и скачать файлы
        - if can? :decline, order
          %a.btn-orange.pos-left.toggle-btn{:href => "#", data: {target: "#respeaking-holder-#{order.id}"}}
            %i.fa.fa-times-circle-o>
            Необходима перечитка (осталось #{order.declines_remaining})
        - if can? :reject, order
          %a.btn-orange.pos-left.toggle-btn{:href => "#", data: {target: "#reject-holder-#{order.id}"}}
            %i.fa.fa-times-circle-o>
            Меня не устраивает результат
      - if can? :decline, order
        %div{style: 'display: none', id: "respeaking-holder-#{order.id}"}
          .title
            %a.return{:href => ""}
            Причина перечитки (осталось #{order.declines_remaining})
          = form_tag decline_order_path(order), method: :post do
            .textarea-holder
              %textarea{cols: "30", rows: "10", name: "event[message]"}
              .tip
                Вы можете требовать перечитку не более 3 раз.
                = succeed "\u{41d}\u{435}\u{43b}\u{44c}\u{437}\u{44f}" do
                  %br/
                указывать контактную информацию.
            .btns-holder
              %button.btn-green.pos-left
                %i.fa.fa-check-circle-o>
                Отправить вопрос
      - if can? :reject, order
        %div{style: 'display: none', id: "reject-holder-#{order.id}"}
          .title
            %a.return.toggle-btn{href: "#", data: {target: "#reject-holder-#{order.id}"}}
            Меня не устраивает результат
          .textarea-holder.captcha-holder
            %p
              Опишите подробно причину, по которой вас не устраивает результат работы по заказу.
              %br/
              Администрация сайта ознакомится с вашим сообщением и примет решение по заказу.
            %textarea{cols: "30", rows: "10"}
            .block-captcha
              %img{alt: "", src: "img/tmp/captcha.png"}/
          .btns-holder
            %a.btn-green.pos-left{href: ""}
              %i.fa.fa-check-circle-o>
              Отправить
          / /.btns-holder

