- total_speakers = Speaker.count
%section.block-br-index
  %h2
    Аудиозаказ — сайт, где профессиональные
    дикторы, вокалисты и пародисты создают
    вашу рекламу.
  .link-holder
    %a{href: "/about"}
      Как это работает
      %i.fa.fa-chevron-right
  .blocks3-in-row
    %article
      %h3 Заказ начитки для аудиоролика
      %p
        На нашем сайте работают
        = succeed "," do
          %a{href: ""} 492 диктора
        %br/
        у которых можно
        %a{href: ""} заказать озвучку
        %br/
        для вашего рекламного ролика.
    %article
      %h3 Размещение своих работ
      %p
        Вы можете
        %a{href: new_user_registration_path} создать аккаунт
        диктора и выполнять
        %br/
        заказы по созданию начиток, вокалу для
        %br/
        аудиороликов.
    %article
      %h3 Финансовая надежность
      %p
        Нам важно, чтобы между заказчиками
        %br/
        и исполнителями не возникало конфликтов.
        %br/
        У нас соблюдают
        %a{href: "/rules"} правила
        и уважают друг друга.
  / /.blocks3-in-row
.cols2-layout
  %aside
    -#.br-holder
      %a{href: ""}
        %img{alt: "", src: "img/tmp/br1.png"}/
    = render 'speakers/search_form'
  .main
    %h2 10 популярных дикторов
    .speakers_container
      = render partial: "speakers/list_item", collection: @speakers, as: :speaker
    .block-results-holder
      .link-holder
        %a{href: speakers_path}
          Все дикторы
          %i.fa.fa-chevron-right
      .val
        всего
        %span= total_speakers
        = Russian.p(total_speakers, 'диктор', 'диктора', 'дикторов')
