.wizard-layout#wizard-layout
  %h1 — Оформление заказа —
  .step-holder
    = form_for @order, :url => wizard_path, :method => :put, html: { class: 'order_wizard_form' } do |f|
      .wrapper
        %h2 Основная информация
        .item-input-text
          %label Название
          = f.text_field :name, class: 'placeholder', data: {placeholder: 'Название заказа'}
        .item-checkbox-list
          %label Категория
          .item.radio
            %label{:for => "r21"}
              %input#r21{:checked => "checked", :name => "radio-2", :type => "radio"}/
              %span Начитка
            %label{:for => "r22"}
              %input#r22{:name => "radio-2", :type => "radio"}/
              %span Вокал
            %label{:for => "r23"}
              %input#r23{:name => "radio-2", :type => "radio"}/
              %span Пародия
            %label{:for => "r24"}
              %input#r24{:name => "radio-2", :type => "radio"}/
              %span Рэп
        .item-textarea.with-text-block
          %label
            Задание
            %span
              Укажите тип, тембр голоса, другие пожелания.
          = f.text_area :description, cols: 30, rows: 10, class: 'placeholder', data: {placeholder: 'Техническое задание'}
          .text-block
            %a{:href => ""} Правилами
            запрещено указывать контактную информацию.
        .item-textarea
          %label
            Текст начитки
            %span
              Только текст, который необходимо прочитать диктору.
          = f.text_area :text, cols: 30, rows: 10
          .options
            .item-1
              Примерно
              %strong 6—8 секунд
            .item-2
              %a{:href => ""} Расставить ударения
        .item-ui-slider
          %label
            Хронометраж
          .ui-slider
            #ui-slider-time
            .points.time
              .p1 0 секунд
              .p2 10
              .p3 20
              .p4 30
              .p5 40
              .p6 50
          = f.hidden_field :duration
          %label.checkbox{:for => "checkbox-2"}
            %input#checkbox-2{:checked => "checked", :type => "checkbox"}/
            %span не важно
        .file-upload
          %label
            Файлы
            %span
              Например, музыкальная подложка.
        #hidden_container
      / /.wrapper
    .file-upload-holder
      %form.form-upload-files{action: cache_records_path, "data-upload" => "fu-123", "data-hidden-container" => "hidden_container", :enctype => "multipart/form-data", :method => "post"}
        .form-drop
          Перетащите сюда файлы для отправки
          %a
            %i.fa.fa-arrow-circle-o-up>
            Добавить файлы
          = hidden_field_tag "resource", "order"
          %input{:multiple => "", :name => "records[]", :type => "file"}/
    .files-uploaded
      %ul#fu-123.form-files-uploaded
        / The file uploads will be shown here
    .controls
      = link_to next_wizard_path, class: 'next order_wizard_form_submit' do
        %i.fa.fa-arrow-right
        Продолжить
  / /.step-holder