.wizard-layout#wizard-layout
  %h1 — Оформление заказа —
  .step-holder
    = form_for @order, :url => wizard_path, :method => :put, html: { class: 'order_wizard_form' } do |f|
      .wrapper
        %h2 Подтверждение
        .item-text
          %p
            Проверьте внимательно все пункты, изменить их после оформления заказа будет невозможно.
        .order-info
          %h3 Информация о заказе
          .username
            .avatar
              - if @speaker.user.avatar.present?
                = image_tag @speaker.user.avatar.middle.url
              - else
                = image_tag image_path('avatar_default_middle.png')
            .title
              = link_to @speaker.login, "#"
              %span диктор, вокалист
          %ul
            %li
              %span Категория
              %span Начитка
            %li
              %span Хронометраж
              %span #{@order.duration} сек
        .item-text-corrected
          %h3 Текст начитки
          %p
            = @order.marked_text.html_safe
        - if @order.has_records?
          .item-files-uploaded
            %h3 Приложенные файлы
            - @order.records.each do |record|
              %audio{controls: "", preload: "none"}
                %source{src: record.file.url }
        .item-order-cost
          %h3
            Стоимость заказа:
            %span= "#{@order.price} руб."
    .controls
      = link_to previous_wizard_path, class: 'prev' do
        %i.fa.fa-arrow-left
        Назад
      = link_to next_wizard_path, class: 'next order_wizard_form_submit' do
        %i.fa.fa-arrow-right
        Продолжить
