.wizard-layout#wizard-layout

  %h1 — Оформление заказа —
  .step-holder
    = form_for @order, :url => wizard_path, :method => :put, html: { class: 'order_wizard_form' } do |f|
      .wrapper
        %h2 Ударения
        .item-text
          %p
            Расставьте ударения, которые помогут диктору правильно прочитать текст.
          %p
            Обратите внимание на специализированные термины, фамилии и названия.
        .item-accent-text
          = @order.text
          / TODO: emphasis input
          = f.hidden_field :text
      / /.wrapper
    .controls
      = link_to previous_wizard_path, class: 'prev' do
        %i.fa.fa-arrow-left
        Назад
      = link_to next_wizard_path, class: 'next order_wizard_form_submit' do
        %i.fa.fa-arrow-right
        Продолжить
