%a.close
.title
  = @order.name
  %span= @order.created_at_short
.inner
  .task-header
    %h2 Техническое задание
    %a{:href => ""}
      %i.fa.fa-file-text-o
      Cкачать в PDF
  .task-options
    %ul
      %li
        %span Автор заказа
        %span= @order.client.login
      %li
        %span Требуемый хронометраж
        %span #{@order.duration} секунд
  .wrapper
    %article
      %h3 Задание
      %p= @order.description
    %article.item-text-corrected
      %h3 Текст начитки
      %p= @order.text
    %article.audio-holder
      %h3 Приложенные файлы
      .audio-name podlozhka.wav
      .audio-item
        %audio{:controls => "", :preload => "auto"}
          %source{:src => "files/audio.mp3"}/
          %source{:src => "files/audio.ogg"}/
          %source{:src => "files/audio.wav"}/
        %a.btn-download{:href => ""}
          %i.fa.fa-arrow-circle-o-down>
          Скачать