- group_opened = @force_groups_to_be_opened || (params.key? 'with_age_types')
.ftr-gr.ckbx-list
  .item.checkbox
    %h3 Возраст
    %label{for: "checkbox-4"}
      = check_box_tag nil, nil, !group_opened, class: "group_switcher", id: "checkbox-4", data: {'rel-group' => 'age_types'}
      %span Не важно
  .display_switchable{ data: {group: 'age_types'} }
    .item.group
      - AgeType.order('position asc').in_groups(2, false) do |group|
        .ckbx-col
          - group.each do |type|
            - checked = params[:with_age_types].presence && type.id.to_s.in?(params[:with_age_types])
            %div
              %label{for: "with_age_types_#{type.id}"}
                = check_box_tag "with_age_types[]", type.id, checked, id: "with_age_types_#{type.id}"
                %span= type.name
