- group_opened = @force_groups_to_be_opened || (params.key? 'with_timbre_level')
.ftr-gr
  .item.checkbox
    %h3 Голос
    %label{for: "checkbox-1"}
      = check_box_tag nil, nil, !group_opened, class: "group_switcher", id: "checkbox-1", data: {'rel-group' => 'voice'}
      %span Не важно
  .display_switchable{ data: {group: 'voice'} }
    .item.radio
      - Speaker.sex.values.each do |value|
        = label :with_sex, value.value do
          = radio_button_tag :with_sex, value.value, ((value.value.to_s == params[:with_sex]) || value.male?)
          %span= value.text

    = hidden_field_tag :with_timbre_level, (params['with_timbre_level'] || 1)
    .item.ui-slider.display_switchable
      #ui-slider-voice{data: {'input-selector' => '#with_timbre_level'}}
      .points.voice
        .p1 Низкий
        .p2 Средний
        .p3 Высокий
