%article.audio-item
  .row
    .user-info
      .avatar
        %img{alt: "", src: speaker.user.avatar.small.url}/
      %h3
        %a.name{href: user_path(speaker.user)}= speaker.user.login
        %a.like.selected{href: ""}
        %span.tag= speaker.role_text
    .order-holder
      .work-time.selected
        ПН–ПТ, 12:00–19:00
      .price
        от 300 руб.
      = link_to order_steps_path(speaker: speaker.id), class: 'btn-order', method: :post do
        Заказать
        %i.fa.fa-chevron-right
  - if speaker.has_records?
    - record = speaker.records.first
    .row
      %audio{controls: "", preload: "none"}
        %source{src: record.file.url}
      .song-name
        %span= record.title
      .link-more
        = link_to 'еще', user_path(speaker.user)
