.bl-filters
  = form_tag speakers_path, method: :get, class: 'speakers_search_form' do
    %h2 Подбор диктора
    = render 'speakers/search_form/voice'
    = render 'speakers/search_form/order_category'
    = render 'speakers/search_form/voice_types'
    = render 'speakers/search_form/age_types'
    .item.checkbox.full-width
      %label{for: "checkbox-5"}
        %input#checkbox-5{checked: "checked", type: "checkbox"}/
        %span Показывать в результатах только дикторов со статусом «Онлайн»
    .submit-holder
      .holder
        %a.speakers_search_form_submit{href: ""}<
          Показать
          %i.fa.fa-chevron-right
        %input{type: "submit", value: ""}/