.user-page-layout
  .main
    %h1
      = @user.login
      %span.user-position-label= @speaker.role_text
      %span.user-price-label от #{@speaker.rate} руб.
    .user-short-addit-info
      Понедельник—пятница, 12:00—19:00
      %span.user-online-label._online Сейчас на сайте
    .user-info-block
      %h3 Характеристики голоса
      %ul
        %li
          %span.label> Голос:
          = @speaker.sex_text
        %li
          %span.label> Тембр:
          = @speaker.timbre_text
        %li
          %span.label> Категории:
          = @speaker.categories_text
        %li
          %span.label> Тип голоса (стиль):
          = @speaker.voice_types_text
        %li
          %span.label> Тип голоса (возраст):
          = @speaker.age_types_text
    .user-info-block
      %h3 Аудиозаписи
      %ul
        - @speaker.records.each do |record|
          %li
            %span.date= l(record.created_at.to_date)
            = "— #{record.title}"

            .audio-holder
              %audio{controls: "", preload: "none"}
                %source{src: record.file.url }
              %a.btn-download
                %i.fa.fa-arrow-circle-o-down>
                Скачать

    .user-info-block
      %h3 Другие дикторы
      = render partial: 'list_item', collection: similar_speakers, as: :speaker
  %aside
    .avatar
      - if @user.avatar.present?
        = image_tag @user.avatar.middle.url
      - else
        = image_tag image_path('avatar_default_middle.png')

    %h2
      = @user.login
      %span= @speaker.role_text
    %ul
      %li
        = link_to order_steps_path(speaker: @speaker.id), class: 'make-order', method: :post do
          %span Заказать читку
