- resource.speaker = Speaker.new if resource.speaker.nil?

#registration-layout.registration-layout
  %h1 Регистрация нового пользователя
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

    - if resource.errors.any?
      - errors_text = resource.errors.full_messages.join "<br>"
      = js add_gritter(errors_text, class_name: "gritter-light", title: "Ошибка")
    .wrapper
      %h2 Основная информация
      .item-input-text
        %label Эл. почта
        = f.text_field :email
      .item-input-text
        %label Телефон
        = f.text_field :phone, class: 'phone-mask'
      .tip
        %p
          На телефон мы будем отправлять
          %br/
          СМС-уведомления об изменении статуса
          %br/
          заказов. Ваш телефон не будет отображаться
          на сайте и не будет передан третьим лицам.
      .items-block-password
        .item-input-text
          %label Пароль
          = f.password_field :password
        .item-input-text
          %label Еще раз
          = f.password_field :password_confirmation
      .items-block-nickname.checkbox-lock
        .checkbox
          %label{for: "checkbox-nickname"}
            %input#checkbox-nickname{checked: "checked", type: "checkbox", name: "user[random_login]", value: "1"}/
            %span
              Случайное имя
        .item-input-text
          %label Имя на сайте
          = f.text_field :login
      .tip
        %p
          Наши правила запрещают использовать реальные имена. Выбранное вами имя будет проверено модератором сайта.
      .item-input-text
        %br
          %label Аватар
          = f.file_field :avatar, class: 'input-file'
      .tip
        %p
          Загрузите вашу фотографию,
          %br
            чтобы выделиться. Используйте фото
            %br
              в формате png или jpg.
      %h2 Информация об исполнителе
      .item-input-checkbox
        %label{for: "toggle_speaker_form_chbx"}
          %input#toggle_speaker_form_chbx{checked: "checked", type: "checkbox"}/
          %span Я хочу исполнять заказы (потребуется заполнение дополнительных полей)

      .speaker_subform
        = f.fields_for :speaker do |speaker_f|
          = render 'users/registrations/form/sex', f: speaker_f
          = render 'users/registrations/form/categories', f: speaker_f

          .tip
            %p
              Информацию можно будет уточнить
              %br/
              или изменить после регистрации в личном
              кабинете
          = render 'users/registrations/form/voice_types',  f: speaker_f
          = render 'users/registrations/form/age_types',    f: speaker_f
          = render 'users/registrations/form/timbre_level', f: speaker_f
          .item-work-time
            %label{:for => "work-time"} Стоимость начитки:
            = speaker_f.text_field :rate, class: 'numbers-only'
            руб. за 30 секунд
          .tip
            %p
              Выбранные аудиозаписи будут отображаться на сайте в каталоге и на странице вашего профиля.
          .item-file-upload-cap
            %label
              Демо
          / /.item-files-upload
          .files-uploaded
            %ul#fu-123.form-files-uploaded
              / The file uploads will be shown here
          #hidden_container
          = render 'users/registrations/form/online_schedule', f: speaker_f
          .item-work-time
            %label{for: "work-time"} Срок выполнения заказа:
            %input.numbers-only{type: "text"}/
            часа
      %h2 Лицензионное соглашение
      .item-input-checkbox
        %label{for: "chbx32"}
          %input#chbx32{checked: "checked", type: "checkbox"}/
          %span
            Я согласен с
            %a{href: ""} Лицензионным соглашением
    / /.wrapper
    .submit-holder
      .holder
        %a{href: ""}
          %i.fa.fa-unlock
          Зарегистрироваться
        %input{type: "submit", value: ""}/
  .file-upload-holder
    %form.form-upload-files{action: cache_records_path, "data-upload" => "fu-123", "data-hidden-container" => "hidden_container", enctype: "multipart/form-data", method: "post"}
      .form-drop
        Перетащите сюда файлы для отправки
        %span Файлы в форматах WAV, MP3, не более 5 МБ
        %a
          %i.fa.fa-arrow-circle-o-up>
          Добавить файлы
        = hidden_field_tag "resource", "speaker"
        %input{multiple: "multiple", name: "records[]", type: "file"}/
/ /.registration-layout
