- resource.speaker = Speaker.new

#registration-layout.registration-layout
  %h1 Регистрация нового пользователя
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

    - if resource.errors.any?
      %ul
        - resource.errors.full_messages.each do |error|
          %li= error

    .wrapper
      %h2 Основная информация
      .item-input-text
        %label Эл. почта
        = f.text_field :email
      .item-input-text
        %label Телефон
        = f.text_field :phone, class: 'phone-mask'
      .tip
        %p
          На телефон мы будем отправлять
          %br/
          СМС-уведомления об изменении статуса
          %br/
          заказов. Ваш телефон не будет отображаться
          на сайте и не будет передан третьим лицам.
      .items-block-password.checkbox-lock
        .checkbox
          %label{for: "checkbox-password"}
            %input#checkbox-password{checked: "checked", type: "checkbox"}/
            %span
              Сгенерировать случайный пароль
              %br>/
              и отправить на почту
        .item-input-text
          %label Пароль
          = f.password_field :password
        .item-input-text
          %label Еще раз
          = f.password_field :password_confirmation
      .items-block-nickname.checkbox-lock
        .checkbox
          %label{for: "checkbox-nickname"}
            %input#checkbox-nickname{checked: "checked", type: "checkbox"}/
            %span
              Случайное имя
        .item-input-text
          %label Имя на сайте
          = f.text_field :login
      .tip
        %p
          Наши правила запрещают использовать реальные имена. Выбранное вами имя будет проверено модератором сайта.
      %h2 Информация об исполнителе
      .item-input-checkbox
        %label{for: "chbx133"}
          %input#chbx133{checked: "checked", type: "checkbox"}/
          %span Я хочу исполнять заказы (потребуется заполнение дополнительных полей)

      = f.fields_for :speaker do |speaker_f|
        = render 'users/registrations/form/sex', f: speaker_f

        .items-block-checkbox
          %label Заказы
          .col
            .item-input-checkbox
              %label{for: "chbx1"}
                %input#chbx1{checked: "checked", type: "checkbox"}/
                %span Начитка
            .item-input-checkbox
              %label{for: "chbx2"}
                %input#chbx2{type: "checkbox"}/
                %span Вокал
          .col
            .item-input-checkbox
              %label{for: "chbx3"}
                %input#chbx3{type: "checkbox"}/
                %span Пародия
            .item-input-checkbox
              %label{for: "chbx4"}
                %input#chbx4{type: "checkbox"}/
                %span Вокал
        / /.items-block-checkbox
        .tip
          %p
            Информацию можно будет уточнить
            %br/
            или изменить после регистрации в личном
            кабинете
        .items-block-checkbox
          %label Тип голоса
          .col
            .item-input-checkbox
              %label{for: "chbx5"}
                %input#chbx5{checked: "checked", type: "checkbox"}/
                %span Веселый
            .item-input-checkbox
              %label{for: "chbx6"}
                %input#chbx6{type: "checkbox"}/
                %span Иностранный
            .item-input-checkbox
              %label{for: "chbx7"}
                %input#chbx7{type: "checkbox"}/
                %span Французский
            .item-input-checkbox
              %label{for: "chbx8"}
                %input#chbx8{type: "checkbox"}/
                %span Португальский
            .item-input-checkbox
              %label{for: "chbx9"}
                %input#chbx9{type: "checkbox"}/
                %span Информационный
            .item-input-checkbox
              %label{for: "chbx10"}
                %input#chbx10{type: "checkbox"}/
                %span Народный
            .item-input-checkbox
              %label{for: "chbx11"}
                %input#chbx11{type: "checkbox"}/
                %span Романтичный
          / /.col
          .col
            .item-input-checkbox
              %label{for: "chbx12"}
                %input#chbx12{type: "checkbox"}/
                %span Вокалист
            .item-input-checkbox
              %label{for: "chbx13"}
                %input#chbx13{type: "checkbox"}/
                %span Английский
            .item-input-checkbox
              %label{for: "chbx14"}
                %input#chbx14{type: "checkbox"}/
                %span Испанский
            .item-input-checkbox
              %label{for: "chbx15"}
                %input#chbx15{type: "checkbox"}/
                %span Украинский
            .item-input-checkbox
              %label{for: "chbx16"}
                %input#chbx16{type: "checkbox"}/
                %span Конферансье
            .item-input-checkbox
              %label{for: "chbx17"}
                %input#chbx17{type: "checkbox"}/
                %span Пародист
            .item-input-checkbox
              %label{for: "chbx18"}
                %input#chbx18{type: "checkbox"}/
                %span Рэп
          / /.col
          .col
            .item-input-checkbox
              %label{for: "chbx19"}
                %input#chbx19{type: "checkbox"}/
                %span Игровой
            .item-input-checkbox
              %label{for: "chbx20"}
                %input#chbx20{type: "checkbox"}/
                %span Немецкий
            .item-input-checkbox
              %label{for: "chbx21"}
                %input#chbx21{type: "checkbox"}/
                %span Итальянский
            .item-input-checkbox
              %label{for: "chbx22"}
                %input#chbx22{type: "checkbox"}/
                %span Белорусский
            .item-input-checkbox
              %label{for: "chbx23"}
                %input#chbx23{type: "checkbox"}/
                %span Клубный
            .item-input-checkbox
              %label{for: "chbx24"}
                %input#chbx24{type: "checkbox"}/
                %span Пафосный
            .item-input-checkbox
              %label{for: "chbx25"}
                %input#chbx25{type: "checkbox"}/
                %span Сексуальный
          / /.col
        / /.items-block-checkbox
        .items-block-checkbox
          %label Возраст
          .col
            .item-input-checkbox
              %label{for: "chbx26"}
                %input#chbx26{checked: "checked", type: "checkbox"}/
                %span Десткий
            .item-input-checkbox
              %label{for: "chbx27"}
                %input#chbx27{type: "checkbox"}/
                %span Взрослый
          .col
            .item-input-checkbox
              %label{for: "chbx28"}
                %input#chbx28{type: "checkbox"}/
                %span Подростковый
            .item-input-checkbox
              %label{for: "chbx29"}
                %input#chbx29{type: "checkbox"}/
                %span Пожилой
          .col
            .item-input-checkbox
              %label{for: "chbx30"}
                %input#chbx30{type: "checkbox"}/
                %span Молодой
            .item-input-checkbox
              %label{for: "chbx31"}
                %input#chbx31{type: "checkbox"}/
                %span Старческий
        / /.items-block-checkbox
        .item-ui-slider
          %label Тембр
          .item.ui-slider
            #ui-slider-voice
            .points.voice
              .p1 Низкий
              .p2 Средний
              .p3 Высокий
        / /.item-ui-slider
        .tip
          %p
            Выбранные аудиозаписи будут отображаться на сайте в каталоге и на странице вашего профиля.
        .item-file-upload-cap
          %label
            Демо
        / /.item-files-upload
        .files-uploaded
          %ul#fu-123.form-files-uploaded
            / The file uploads will be shown here
        %h2 Присутствие на сайте
        #online-radio-list.item-radio-list
          %label Онлайн
          %ul
            %li
              %label
                %input{checked: "checked", name: "online", type: "radio"}/
                %span Каждый день
            %li
              %label
                %input{name: "online", type: "radio"}/
                %span По будням
            %li
              %label
                %input{name: "online", type: "radio"}/
                %span По выходным
            %li
              %label
                %input.show{name: "online", type: "radio"}/
                %span Выбрать дни
          .date-list
            .date
              %span.day ПН
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day ВТ
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day СР
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day ЧТ
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day ПТ
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day.off СБ
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
            .date
              %span.day.off ВС
              %input{type: "text"}/
              %span.def —
              %input{type: "text"}/
        .tip
          %p
            Укажите промежутки времени, когда для
            заказчиков вы будете отображаться
            %br/
            со статусом «Онлайн». В это время от вас
            будут ожидать быстрого ответа.
        .item-work-time
          %label{for: "work-time"} Срок выполнения заказа:
          %input#work-time{type: "text"}/
          часа
      %h2 Лицензионное соглашение
      .item-input-checkbox
        %label{for: "chbx32"}
          %input#chbx32{checked: "checked", type: "checkbox"}/
          %span
            Я согласен с
            %a{href: ""} Лицензионным соглашением
    / /.wrapper
    .submit-holder
      .holder
        %a{href: ""}
          %i.fa.fa-unlock
          Зарегистрироваться
        %input{type: "submit", value: ""}/
  .file-upload-holder
    %form.form-upload-files{action: "upload.php", "data-upload" => "fu-123", enctype: "multipart/form-data", method: "post"}
      .form-drop
        Перетащите сюда файлы для отправки
        %span Файлы в форматах WAV, MP3, не более 5 МБ
        %a
          %i.fa.fa-arrow-circle-o-up>
          Добавить файлы
        %input{multiple: "multiple", name: "upl", type: "file"}/
/ /.registration-layout